@import 'utility';

@font-face {
  font-family: 'neon2';
  src: url('./neon2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
  height: 100%;
}

body {
  @include font-smoothing(on);

  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  color: white;
  background-color: black;
  background-image: url('../tarotImages/circleBack.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-color: black;
    background-image: url('../tarotImages/phoneBack.png');
    display: flex;
    align-content: center;
    flex-direction: column;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin: 4em;
  }
}

ul.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 0;
  font-family: 'neon2';
  color: cyan;

  li {
    list-style: none;
  }
}

.logo {
  font-family: 'neon2';
  font-size: 60px;
  color: cyan;
  margin: 1em;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00c9ff, 0 0 70px #00c9ff, 0 0 80px #00c9ff, 0 0 100px #00c9ff, 0 0 150px #00c9ff;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  align-items: center;
  padding: 1em;

  .card {
    height: 220px;
    width: 175px;
    background-size: contain;
    margin: 0.5em;
    margin-bottom: 1em;
    border: 2px solid black;
    border-radius: 5px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }

    p {
      visibility: hidden;
    }

    h5 {
      visibility: hidden;
    }
  }

  .down {
    background-color: black;
    height: 325px;
    width: 200px;
    margin: 0.5em;
    border-radius: 5px;
    color: white;

    img {
      height: 0;
      width: 0;
    }
  }
}
